body {
    background-color: #F7F7F7;
}
.mentor-card:hover, .meeting-card:hover {
    transform: scale(1.03);
}
button.rate-emoji:hover {
    background-color: #E6E0E0;
}
.mentorizon-main {
    user-select: none !important;
}
.mentorizon-main>span {
    display:inline-block;
    padding:0;
    margin: 0 -15px 0 0;
}
.mentorizon-main>span:hover {
    color: #4460EE;
    cursor: pointer;
}