body {
    background-image: url("../img/abstract2.jpg");
    background-color: #F7F7F7;
    background-size: cover;
}
.mentor-card:hover, .meeting-card:hover, .sphere-card:hover, .index-card:hover {
    transform: scale(1.03);
}
button.rate-emoji:hover {
    background-color: #E6E0E0;
}
