{% extends "base.html" %}

{% block content %}
  <div class="mentorizon-main m-4 text-center display-1 text-white fw-bold">
    <span class="letter">M</span>
    <span class="letter">e</span>
    <span class="letter">n</span>
    <span class="letter">t</span>
    <span class="letter">o</span>
    <span class="letter">r</span>
    <span class="letter">i</span>
    <span class="letter">z</span>
    <span class="letter">o</span>
    <span class="letter">n</span>
  </div>
  <p class="text-center text-white mb-4 display-6 fw-bold">
    The place where you can be both a mentor and a mentee.
    <br>
    Broaden your horizons.
  </p>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-8 m-2 p-2 py-5 col-md-3 bg-white rounded shadow">
        <p class="text-center fw-bold display-1 text-primary">{{ num_mentors }}</p>
        <p class="text-center display-6">mentors</p>
      </div>
      <div class="col-8 m-2 p-2 py-5 col-md-3 bg-white rounded shadow">
        <p class="text-center fw-bold display-1 text-primary">{{ num_meetings }}</p>
        <p class="text-center display-6">meeting{{ num_meetings|pluralize }}</p>
      </div>
      <div class="col-8 m-2 p-3 py-5 col-md-3 bg-white rounded shadow">
        <p class="text-center fw-bold display-1 text-primary">{{ num_spheres }}</p>
        <p class="text-center display-6">spheres</p>
      </div>
    </div>
  </div>
{% endblock %}
