{% extends "base.html" %}
{% load bootstrap5 %}
{% block content %}
  <div class="container-fluid bg-white mb-4 gx-0">
    <div class="row d-flex m-auto justify-content-between justify-content-md-center">
      <h1 class="col-4 col-lg-3 display-4 g-lg-0 g-1">Meetings</h1>
      <form action="" method="get" class="col-4 col-lg-3 d-md-flex my-auto">
        {% bootstrap_field search_form.topic layout="inline" %}
          <button type="submit" class="btn border">
            <i class="bi bi-search"></i>
          </button>
      </form>
      <form action="" method="get" class="col-4 col-lg-3 d-md-flex my-auto">
        {% bootstrap_form filter_form layout="inline" %}
        <button type="submit" class="btn border">
          <i class="bi bi-filter"></i>
        </button>
      </form>
    </div>
  </div>

  {% include "includes/pagination.html" %}
  <div class="container-fluid">
    <div class="row justify-content-center">
      {% for meeting in meeting_list %}
        <div class="col-8 col-lg-3 m-2 mb-4 p-3 rounded shadow bg-white
        position-relative mentor-card">
          <a href="{% url 'mentorizon:meeting-detail' pk=meeting.id %}"
          class="text-decoration-none text-color-none text-body">
            <p class="fw-bold">{{ meeting.topic }}</p>
            <hr>
            <p class="fst-italic">{{ meeting.date|date:"l, d F Y H:i" }}</p>
            <p> by
              {{ meeting.mentor_session.mentor.first_name }}
              {{ meeting.mentor_session.mentor.last_name }}
            </p>
            <p>Sphere: {{ meeting.mentor_session.mentor.mentor_sphere }}</p>
           {% if user.id != meeting.mentor_session.mentor.id  %}
             {% if user not in meeting.participants.all %}
                {% if meeting.available_places and not full_book %}
                  <p>Available places: {{ meeting.available_places }}</p>
                  <a href="{% url 'mentorizon:book-meeting' pk=meeting.id %}"
                     class="text-decoration-none">
                    <button type="submit" class="btn btn-primary">Book</button>
                  </a>
                {% else %}
                  <p>No available places.</p>
                {% endif %}
             {% else %}
               <p>Number of participants: {{ meeting.participants.count }}</p>
               <span class="badge bg-primary position-absolute top-0 end-0">
                 You are a participant!
               </span>
               <a href="{% url 'mentorizon:book-meeting' pk=meeting.id %}"
                  class="text-decoration-none">
                  <button type="submit" class="btn btn-danger">Unbook</button>
                </a>
             {% endif %}
           {% else %}
             <span class="badge bg-success position-absolute top-0 end-0">
                 You are the mentor!
               </span>
             <p>Number of participants: {{ meeting.participants.count }}</p>
             <a href="{% url 'mentorizon:meeting-update' pk=meeting.id %}"
                class="text-decoration-none">
               <button type="button" class="btn btn-primary">Update</button>
             </a>
             <a href="{% url 'mentorizon:meeting-delete' pk=meeting.id %}"
                class="text-decoration-none">
               <button type="submit" class="btn btn-danger">Delete</button>
             </a>
           {% endif %}
            <a href="{% url 'mentorizon:meeting-detail' pk=meeting.id %}">
              <button type="button" class="btn btn-light"><i class="bi bi-eye"></i></button>
            </a>
          </a>
        </div>
       {% endfor %}
    </div>
  </div>
{% endblock %}
