{% extends "base.html" %}
{% load bootstrap5 %}
{% block content %}
  <div class="container-fluid bg-white mb-4 gx-0">
    <div class="row d-flex m-auto justify-content-between justify-content-md-center">
      <h1 class="col-4 col-lg-3 display-4">Mentors</h1>
      <form action="" method="get" class="col-4 col-lg-3 d-md-flex my-auto">
        {% bootstrap_field search_form.last_name layout="inline" %}
          <button type="submit" class="btn border">
            <i class="bi bi-search"></i>
          </button>
      </form>
      <form action="" method="get" class="col-4 col-lg-3 d-md-flex my-auto">
        {% bootstrap_form filter_form layout="inline" %}
        <button type="submit" class="btn border">Sphere</button>
      </form>
    </div>
  </div>

  {% include "includes/pagination.html" %}
  <div class="container-fluid">
    <div class="row justify-content-center">

      {% for mentor in mentor_list %}
        <div class="col-8 col-lg-3 m-2 mb-4 p-3 rounded shadow bg-white mentor-card">
          <a href="{% url 'mentorizon:mentor-detail' pk=mentor.id %}"
          class="text-decoration-none text-color-none text-body">
            <h4 class="mb-3">{{ mentor.first_name }} {{ mentor.last_name }}</h4>
            <hr>
            <p class="fw-bold">Rating: {{ mentor.avg_rating|default_if_none:"0" }}</p>
            <p>Sphere: {{ mentor.mentor_sphere }}</p>
            <p>
              {{ mentor.years_of_experience }} year{{ mentor.years_of_experience|pluralize }}
              of experience
            </p>
            <p>Upcoming meetings: {{ mentor.mentor_sessions.count}}</p>
            <a href="{% url 'mentorizon:mentor-detail' pk=mentor.id %}">
              <button type="button" class="btn btn-light"><i class="bi bi-eye"></i></button>
            </a>
          </a>
        </div>
       {% endfor %}
    </div>
  </div>
{% endblock %}
