{% extends "base.html" %}
{% block content %}
  <h1 class="text-center mt-2 mb-3">Mentors</h1>
  <div class="container-fluid">
    <div class="row justify-content-center">
      {% for mentor in mentor_list %}
        <div class="col-6 col-md-3 m-2 mb-4 p-3 rounded shadow bg-white mentor-card">
          <a href="{% url 'mentorizon:mentor-detail' pk=mentor.id %}"
          class="text-decoration-none text-color-none text-body">
            <p>{{ mentor.first_name }} {{ mentor.last_name }}</p>
            <p>Rating: {{ mentor.avg_rating|default_if_none:"0" }}</p>
            <p>{{ mentor.mentor_sphere }}</p>
            <p>
              {{ mentor.years_of_experience }} year{{ mentor.years_of_experience|pluralize }}
              of experience
            </p>
          </a>
        </div>
       {% endfor %}
    </div>
  </div>
{% endblock %}