{% extends "base.html" %}
{% load bootstrap5 %}
{% block content %}
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-10 col-md-8 m-1 my-4 p-3 rounded shadow bg-white">
        <h1 class="my-3">{{ mentor.first_name }} {{ mentor.last_name }}</h1>
        <hr>
        <div class="rate my-3">
          <a href="{% url 'mentorizon:mentor-rate' pk=mentor.id rate=1 %}"
             class="text-decoration-none">
            <button type="submit" class="btn border rate-emoji">😠</button>
          </a>
          <a href="{% url 'mentorizon:mentor-rate' pk=mentor.id rate=2 %}"
             class="text-decoration-none">
            <button type="submit" class="btn border rate-emoji">☹️</button>
          </a>
          <a href="{% url 'mentorizon:mentor-rate' pk=mentor.id rate=3 %}"
             class="text-decoration-none">
            <button type="submit" class="btn border rate-emoji">😐</button>
          </a>
          <a href="{% url 'mentorizon:mentor-rate' pk=mentor.id rate=4 %}"
             class="text-decoration-none">
            <button type="submit" class="btn border rate-emoji">🙂</button>
          </a>
          <a href="{% url 'mentorizon:mentor-rate' pk=mentor.id rate=5 %}"
             class="text-decoration-none">
            <button type="submit" class="btn border rate-emoji">😍</button>
          </a>
        </div>

        <p class="fw-bold">Rating: {{ mentor.avg_rating|default_if_none:"0" }}</p>
        <p>Sphere: {{ mentor.mentor_sphere }}</p>
        <p class="mb-5">
          {{ mentor.years_of_experience }} year{{ mentor.years_of_experience|pluralize }}
          of experience
        </p>
        <p>{{ mentor.experience_description }}</p>
      </div>
    </div>
    {% if meetings %}
    <div class="row justify-content-center bg-white p-2 mb-2">
      <h3 class="text-center display-6">
        {{ meetings.count }} upcoming meeting{{ meetings.count|pluralize }}
      </h3>
        {% for meeting in meetings %}
          <div class="col-7 col-md-3 m-2 mb-4 p-3 g-0
          meeting-card rounded shadow bg-white position-relative">
           <a href="{% url 'mentorizon:meeting-detail' pk=meeting.id %}"
              class="text-decoration-none text-color-none text-body">
             <p class="fw-bold">{{ meeting.topic }}</p>
             <hr>
             <p class="fst-italic">{{ meeting.date|date:"l, d F Y H:i" }}</p>
             {% if user.id != meeting.mentor_session.mentor.id %}
               {% if user not in meeting.participants.all %}
                 <p>Available places: {{ meeting.available_places }}</p>
                 <a href="{% url 'mentorizon:book-meeting' pk=meeting.id %}"
                    class="text-decoration-none">
                   <button type="submit" class="btn btn-primary">Book</button>
                 </a>
               {% else %}
                 <span class="badge bg-primary position-absolute top-0 end-0">
                    You are a participant!
                  </span>
                 <a href="{% url 'mentorizon:book-meeting' pk=meeting.id %}"
                    class="text-decoration-none">
                   <button type="submit" class="btn btn-danger">Unbook</button>
                 </a>
               {% endif %}
             {% else %}
               <p>{{ meeting.participants.count }}
                 participant{{ meeting.participants.count|pluralize }}
               </p>
               <a href="{% url 'mentorizon:meeting-update' pk=meeting.id %}"
                  class="text-decoration-none">
                 <button type="button" class="btn btn-primary">Update</button>
               </a>
               <a href="{% url 'mentorizon:meeting-delete' pk=meeting.id %}"
                  class="text-decoration-none">
                 <button type="submit" class="btn btn-danger">Delete</button>
               </a>
             {% endif %}
               <button type="button" class="btn btn-light"><i class="bi bi-eye"></i></button>
           </a>
          </div>
        {% endfor %}
    </div>
    {% endif %}
  </div>
{% endblock %}
