{% extends "base.html" %}
{% load bootstrap5 %}
{% bootstrap_messages %}
{% block content %}
  <div class="container my-5 p-5 rounded shadow bg-white w-75">
    <h1 class="text-center display-4">Create sphere</h1>
    <div class="row justify-content-center">
      <div class="col">
        <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
          <input type="submit" value="Create" class="btn btn-primary" />
        </form>
      </div>
    </div>
  </div>
{% endblock %}