{% extends "registration/base_registration.html" %}
{% load bootstrap5 %}
{% block content %}
  <div class="container my-5 p-5 rounded shadow bg-white w-75">
    <h1 class="text-center display-4">Create your account</h1>
    <div class="row justify-content-center">
      <div class="col">
        <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
          <input type="submit" value="Sign up" class="btn btn-primary" />
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
      </div>
    </div>
  </div>
{% endblock %}
